In [1]:
import pandas as pd
import numpy as np

In [67]:
path = '/mnt/d/Florencia/Desktop/Facultad/Tesis/TesisFlor/Excels/'
sujeto = 'S_12_visual'
medicion = pd.read_csv(path + sujeto + '.csv',delimiter=';')
COLUMNAS_INTERESANTES = ['cor_ans', 'obj_rating', 'subj_rating']
print(medicion)

     Unnamed: 0 subject stim session  block  frame_rate  \
0             0     S12    A     pre      1   59.909082
1             1     S12    A     pre      1   59.909082
2             2     S12    A     pre      1   59.909082
3             3     S12    A     pre      1   59.909082
4             4     S12    A     pre      1   59.909082
..          ...     ...  ...     ...    ...         ...
395         395     S12    A     pre      4   59.909082
396         396     S12    A     pre      4   59.909082
397         397     S12    A     pre      4   59.909082
398         398     S12    A     pre      4   59.909082
399         399     S12    A     pre      4   59.909082

                                             frame_int  trial_nb  SOA  \
0    [0.01650990000001684, 0.0163731000000098, 0.01...        24    4
1    [0.016940200000021832, 0.016404599999987113, 0...        88    5
2    [0.008052500000019336, 0.016548199999988356, 0...        92    2
3    [0.013587499999971442, 0.01749530000000732, 0....        44    1
4    [0.016741400000000795, 0.016256200000043464, 0...        71    4
..                                                 ...       ...  ...
395  [0.016806699999960983, 0.017151199999716482, 0...        16    3
396  [0.014817300000231626, 0.016467500000089785, 0...        69    4
397  [0.016698700000233657, 0.016310800000155723, 0...        56    3
398  [0.017269699999815202, 0.016351300000224, 0.01...        70    4
399  [0.016692199999852164, 0.01642279999987295, 0....        28    4

     real_SOA      target       mask  position cor_ans obj_rating    obj_RT  \
0    0.049781       2.tif  mask.tiff     -0.14    left   ['left']  0.511518
1    0.049751  blank.tiff  mask.tiff     -0.14       a  ['right']  0.649226
2    0.049675  blank.tiff  mask.tiff     -0.14       a  ['right']  0.546238
3    0.051171       7.tif  mask.tiff     -0.14   right  ['right']  0.289825
4    0.049768       8.tif  mask.tiff      0.14   right  ['right']  0.356442
..        ...         ...        ...       ...     ...        ...       ...
395  0.050757       2.tif  mask.tiff     -0.14    left   ['left']  0.276973
396  0.049587       7.tif  mask.tiff      0.14   right  ['right']  0.357340
397  0.049553       2.tif  mask.tiff     -0.14    left   ['left']  0.368442
398  0.049216       8.tif  mask.tiff     -0.14   right  ['right']  0.349570
399  0.049825       7.tif  mask.tiff     -0.14   right  ['right']  0.179811

     subj_rating  subj_RT  trial_duration  trigger
0              1    2.051        4.419687       66
1              0    0.704        3.199501       80
2              0    0.862        3.278921       32
3              1    0.901        3.022933       22
4              0    1.055        3.256642       73
..           ...      ...             ...      ...
395            1    0.842        2.960091       50
396            1    0.753        2.956982       71
397            1    3.210        5.418417       50
398            0    1.293        3.482357       72
399            1    0.687        2.713375       70

[400 rows x 20 columns]

In [68]:
datos = medicion[COLUMNAS_INTERESANTES]
datos.loc[:, "obj_rating"] = datos["obj_rating"].str[2:-2]
datos

    cor_ans obj_rating  subj_rating
0      left       left            1
1         a      right            0
2         a      right            0
3     right      right            1
4     right      right            0
..      ...        ...          ...
395    left       left            1
396   right      right            1
397    left       left            1
398   right      right            0
399   right      right            1

[400 rows x 3 columns]

In [40]:
#DIFEERENTES FORMAS DE HACERLO
#for obj_rating in datos["obj_rating"]:
#    print(obj_rating[2:-2])

#datos["obj_rating"].apply(lambda obj_rating: obj_rating[2:-2])

In [69]:
vio = datos[datos['subj_rating']==1]
no_vio = datos[datos['subj_rating']==0]

vio_left = vio[vio['obj_rating']=='left']
correcto_left = vio_left[vio_left['cor_ans']=='left']

vio_right = vio[vio['obj_rating']=='right']
correcto_right = vio_right[vio_right['cor_ans']=='right']

correcto_no_vio = no_vio[no_vio['cor_ans'].isna()]

In [70]:
resultados = correcto_left + correcto_right + correcto_no_vio
resultados['correcto'] = 1
print(resultados)
resultados.drop(columns=['cor_ans', 'obj_rating', 'subj_rating'], inplace=True)
resultados = datos.merge(resultados, left_index=True, right_index=True, how="left")
resultados['correcto'] = resultados['correcto'].mask(resultados['correcto'].isna(),0).astype(int)

    cor_ans obj_rating  subj_rating  correcto
0       NaN        NaN          NaN         1
3       NaN        NaN          NaN         1
5       NaN        NaN          NaN         1
7       NaN        NaN          NaN         1
8       NaN        NaN          NaN         1
..      ...        ...          ...       ...
394     NaN        NaN          NaN         1
395     NaN        NaN          NaN         1
396     NaN        NaN          NaN         1
397     NaN        NaN          NaN         1
399     NaN        NaN          NaN         1

[208 rows x 4 columns]

In [71]:
vectores = 'Vectores/'
matrices = 'Matrices/'
resultados.to_csv(path + matrices + sujeto + '.csv', index = False)
resultados['correcto'].to_csv(path + vectores + sujeto + '.csv', index = False)

---

In [144]:
#OTRA FORMA DE HACERLO
# datos_juampi = datos.copy(deep=True)
# datos_juampi["correcto"] = 0

# hubo_ruido_mask = datos_juampi["cor_ans"].isna()
# no_vio_mask = datos_juampi["subj_rating"] == 0
# vio_mask = datos_juampi["subj_rating"] == 1
# le_pego_mask = datos_juampi["cor_ans"] == datos_juampi["obj_rating"]

# datos_juampi.correcto = datos_juampi.correcto.mask(((no_vio_mask & hubo_ruido_mask) | (vio_mask & le_pego_mask)), 1)
# datos_juampi.head(15)

   cor_ans obj_rating  subj_rating  correcto
0     left       left            0         0
1    right       left            0         0
2    right       left            0         0
3      NaN      right            0         1
4     left      right            0         0
5     left       left            1         1
6     left      right            0         0
7     left       left            0         0
8    right      right            1         1
9      NaN       left            1         0
10     NaN       left            0         1
11     NaN      right            0         1
12   right       left            1         0
13    left       left            0         0
14    left       left            1         1