In [2]:
import pandas as pd
import numpy as np

In [67]:
path = '/home/nicobruno/flor/Tesis/excels/'
sujeto = 'S_02_visual'
medicion = pd.read_csv(path + sujeto + '.csv',delimiter=';')
#COLUMNAS_INTERESANTES = ['cor_ans', 'obj_rating', 'subj_rating']
COLUMNAS_INTERESANTES = ['subj_rating']
print(medicion)

     Unnamed: 0 subject stim session  block  frame_rate  \
0             0    S_02    A     pre      1   59.828866
1             1    S_02    A     pre      1   59.828866
2             2    S_02    A     pre      1   59.828866
3             3    S_02    A     pre      1   59.828866
4             4    S_02    A     pre      1   59.828866
..          ...     ...  ...     ...    ...         ...
395         395    S_02    A     pre      4   59.828866
396         396    S_02    A     pre      4   59.828866
397         397    S_02    A     pre      4   59.828866
398         398    S_02    A     pre      4   59.828866
399         399    S_02    A     pre      4   59.828866

                                             frame_int  trial_nb  SOA  \
0    [0.015397499999835418, 0.017128100000036284, 0...        94    3
1    [0.017229000000043015, 0.01653929999997672, 0....        68    4
2    [0.016980300000113857, 0.016395699999975477, 0...        54    2
3    [0.01609469999993962, 0.01672410000014679, 0.0...        74    5
4    [0.016082500000038635, 0.017386499999929583, 0...         7    1
..                                                 ...       ...  ...
395  [0.016995400000269, 0.016739700000471203, 0.01...        72    5
396  [0.01665969999976369, 0.016895699999622593, 0....        63    3
397  [0.01705339999989519, 0.016399600000113423, 0....        71    4
398  [0.01665709999997489, 0.016574999999647844, 0....        26    4
399  [0.0169093000004068, 0.01616550000017014, 0.01...        32    5

     real_SOA      target       mask  position cor_ans obj_rating    obj_RT  \
0    0.050571  blank.tiff  mask.tiff     -0.14       a   ['left']  0.905389
1    0.049105       7.tif  mask.tiff     -0.14   right   ['left']  0.859481
2    0.050289       8.tif  mask.tiff     -0.14   right   ['left']  1.066134
3    0.050307       3.tif  mask.tiff     -0.14    left   ['left']  0.422459
4    0.050679       8.tif  mask.tiff      0.14   right  ['right']  0.932496
..        ...         ...        ...       ...     ...        ...       ...
395  0.049922       2.tif  mask.tiff     -0.14    left  ['right']  4.350200
396  0.049874       8.tif  mask.tiff      0.14   right  ['right']  2.577179
397  0.049618       8.tif  mask.tiff      0.14   right  ['right']  0.200491
398  0.049718       3.tif  mask.tiff     -0.14    left   ['left']  1.387878
399  0.049635       2.tif  mask.tiff     -0.14    left   ['left']  0.862087

     subj_rating  subj_RT  trial_duration  trigger
0              0    1.420        4.178555       48
1              0    1.034        3.726069       70
2              0    0.972        3.883146       40
3              1    0.658        2.922623       84
4              0    0.833        3.600194       25
..           ...      ...             ...      ...
395            0    0.916        7.100204       82
396            1    2.161        6.577304       57
397            1    1.107        3.149992       73
398            1    0.911        4.137017       68
399            0    0.801        3.495091       82

[400 rows x 20 columns]

In [68]:
datos = medicion[COLUMNAS_INTERESANTES]
#datos.loc[:, "obj_rating"] = datos["obj_rating"].str[2:-2]
datos

     subj_rating
0              0
1              0
2              0
3              1
4              0
..           ...
395            0
396            1
397            1
398            1
399            0

[400 rows x 1 columns]

In [69]:
path = '/home/nicobruno/flor/Tesis/vectores/'
#pd.DataFrame(datos, columns='subj').to_csv(path + sujeto +'_subj'+ '.csv', index=False)
datos.to_csv(path + sujeto +'_subj'+ '.csv', index = False)

In [40]:
#DIFEERENTES FORMAS DE HACERLO
#for obj_rating in datos["obj_rating"]:
#    print(obj_rating[2:-2])

#datos["obj_rating"].apply(lambda obj_rating: obj_rating[2:-2])

In [69]:
vio = datos[datos['subj_rating']==1]
no_vio = datos[datos['subj_rating']==0]

vio_left = vio[vio['obj_rating']=='left']
correcto_left = vio_left[vio_left['cor_ans']=='left']

vio_right = vio[vio['obj_rating']=='right']
correcto_right = vio_right[vio_right['cor_ans']=='right']

correcto_no_vio = no_vio[no_vio['cor_ans'].isna()]

In [70]:
resultados = correcto_left + correcto_right + correcto_no_vio
resultados['correcto'] = 1
print(resultados)
resultados.drop(columns=['cor_ans', 'obj_rating', 'subj_rating'], inplace=True)
resultados = datos.merge(resultados, left_index=True, right_index=True, how="left")
resultados['correcto'] = resultados['correcto'].mask(resultados['correcto'].isna(),0).astype(int)

    cor_ans obj_rating  subj_rating  correcto
0       NaN        NaN          NaN         1
3       NaN        NaN          NaN         1
5       NaN        NaN          NaN         1
7       NaN        NaN          NaN         1
8       NaN        NaN          NaN         1
..      ...        ...          ...       ...
394     NaN        NaN          NaN         1
395     NaN        NaN          NaN         1
396     NaN        NaN          NaN         1
397     NaN        NaN          NaN         1
399     NaN        NaN          NaN         1

[208 rows x 4 columns]

In [71]:
vectores = 'Vectores/'
matrices = 'Matrices/'
resultados.to_csv(path + matrices + sujeto + '.csv', index = False)
resultados['correcto'].to_csv(path + vectores + sujeto + '.csv', index = False)

---

In [144]:
#OTRA FORMA DE HACERLO
# datos_juampi = datos.copy(deep=True)
# datos_juampi["correcto"] = 0

# hubo_ruido_mask = datos_juampi["cor_ans"].isna()
# no_vio_mask = datos_juampi["subj_rating"] == 0
# vio_mask = datos_juampi["subj_rating"] == 1
# le_pego_mask = datos_juampi["cor_ans"] == datos_juampi["obj_rating"]

# datos_juampi.correcto = datos_juampi.correcto.mask(((no_vio_mask & hubo_ruido_mask) | (vio_mask & le_pego_mask)), 1)
# datos_juampi.head(15)

   cor_ans obj_rating  subj_rating  correcto
0     left       left            0         0
1    right       left            0         0
2    right       left            0         0
3      NaN      right            0         1
4     left      right            0         0
5     left       left            1         1
6     left      right            0         0
7     left       left            0         0
8    right      right            1         1
9      NaN       left            1         0
10     NaN       left            0         1
11     NaN      right            0         1
12   right       left            1         0
13    left       left            0         0
14    left       left            1         1